/* App.css */
.form-container {
  background-color: #f8f9fa;
}

.custom-label {
  color: #007bff; /* Blue color for labels */
  font-weight: bold;
}

.custom-input {
  background-color: #e9ecef; /* Light gray background for inputs */
  border-color: #007bff; /* Blue border color for inputs */
}

.custom-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Blue focus shadow */
}
